# ------------------------------------------------------------------------------
#  File Navigation
# ------------------------------------------------------------------------------

# Easier navigation
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'

# Clear the screen
alias c="clear"

# Shortcuts
alias sites="cd ~/Sites"
alias dk="cd ~/Desktop"

# List files pretty format and colors
alias ls='ls -FGH'
alias la='ls -AG'
alias ll='ls -AlG'
alias l='ls -CFG'
alias history='fc -l 1'

# List only directories
alias lsd='ls -l | grep "^d"'

# Like cat but with colors (requires pygments)
# https://gist.github.com/BretFisher/6f688dde0122399efdca5a9d26100437#gistcomment-2239975
# pygments style: https://github.com/MozMorris/tomorrow-pygments
alias check="pygmentize -O style=tomorrownight -f console256 -g"


# Wrap settings
# https://apple.stackexchange.com/questions/90392/disable-line-wrapping-for-output-in-the-terminal#answer-210666
alias wrap="tput smam"
alias nowrap="tput rmam"

# ------------------------------------------------------------------------------
#  Miscellaneous
# ------------------------------------------------------------------------------

# Make aliases sudo-able
alias sudo="sudo "

# Refresh dotfiles for the current shell
alias refresh="source ~/.zshrc"
alias reload="source ~/.zshrc"

# Super clear
alias clear!="clear; clear; clear; clear"

# https://github.com/busyloop/lolcat
# A journey of a thousand miles must begin with a single step.
# -- Lao Tsu
#  ^__^
#  (oo)\_______
#  (__)\
#
alias lolcow="fortune | cowsay | lolcat"

# https://github.com/chubin/wttr.in
#               Overcast
#      .--.     20 – 21 °C
#   .-(    ).   ← 12 km/h
#  (___.__)__)  10 km
#               0.1 mm
# alias weather="curl -4 http://wttr.in/Mexico_City"
alias weather="curl -4 http://wttr.in/Mexico_City"

# Create new aliases
alias newalias="subl ~/.aliases"
alias newfunction="subl ~/.functions"
alias zshconf="subl ~/.zshrc"
alias gitconf="subl ~/.gitconfig"
alias sshconf="subl ~/.ssh/config"

# Pretty print the path
alias path='echo $PATH | tr -s ":" "\n"'

# Open Applications
# alias chrome="open -a '/Applications/Google Chrome.app/Contents/MacOS/Google Chrome'"
alias chrome="/Applications/Google\ Chrome.app/Contents/MacOS/Google\ Chrome"
alias spotify="open -a '/Applications/Spotify.app'"
alias reddit="open -a '/Applications/Google Chrome.app' http://www.reddit.com"
alias gist="open -a '/Applications/Google Chrome.app' https://gist.github.com/scrubmx"
alias trello="open -a '/Applications/Google Chrome.app' https://trello.com"

# IP addresses
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="ipconfig getifaddr en0"

# Open Firefox and browse to hulu.com, also open a socks5 proxy.
alias hulu="open -a '/Applications/Firefox.app' http://hulu.com & ssh -p 443 root@162.249.126.18 -D 8080"


# ------------------------------------------------------------------------------
#  Web Development
# ------------------------------------------------------------------------------

# Download selenium standalone server from:
# http://docs.seleniumhq.org/download/
alias selenium='java -jar /usr/local/share/selenium/standalone-server.jar'

# Reset the index and working tree and removes untracked files from the working tree
alias nah="git reset --hard; git clean -df"


# ------------------------------------------------------------------------------
#  PHP Specific
# ------------------------------------------------------------------------------

# Composer dump autoload
alias dal="composer dump-autoload"

# Run phpunit test suite
alias t="clear & phpunit --order-by=defects --stop-on-failure --stop-on-error"

# Laravel artisan shortcuts
alias artisan="php artisan"
alias tinker="php artisan tinker"
alias migrate="php artisan migrate"


# ------------------------------------------------------------------------------
#  Elixir
# ------------------------------------------------------------------------------

alias mixer="iex -S mix phoenix.server" # like tinker from laravel
alias itest="iex -S mix test --trace" # run tests and stop on IEx.pry
alias prytest="iex -S mix test --trace" # run tests and stop on IEx.pry
alias pry='fc -e - mix\ test=iex\ -S\ mix\ test\ --trace mix\ test'
alias server="mix phoenix.server"
alias unfuckpg="rm /usr/local/var/postgres/postmaster.pid"
alias refreshdb="dropdb paymex_test && createdb paymex_test && dropdb paymex && createdb paymex"


# ------------------------------------------------------------------------------
#  JavaScript
# ------------------------------------------------------------------------------

# Create a node specific .gitignore
alias gitignorenode="\curl https://www.gitignore.io/api/node >> .gitignore"

# Karma start
alias ks="karma start karma.conf.js"

# JavaScriptCore REPL
jscbin="/System/Library/Frameworks/JavaScriptCore.framework/Versions/A/Resources/jsc";
[ -e "${jscbin}" ] && alias jsc="${jscbin}";
unset jscbin;

# Fix: Node Sass does not yet support your current environment: OS X
# https://github.com/sass/node-sass/issues/1764#issuecomment-262439819
alias fixsass="npm rebuild node-sass"


# ------------------------------------------------------------------------------
#  OS X Specific aliases
# ------------------------------------------------------------------------------

# Add Paulina voice to Mac OS X
#   - Navigate to: System Preferences > Dictation & Speech > Text to Speech
#   - Select the System Voice menu and choose "Customize" in the drop-down
#   - Choose the voice: Spanish (Mexico) > Paulina
alias say="say --voice=Paulina"

# Flush DNS cache
alias fushdns="sudo killall -HUP mDNSResponder"

# Copy shy key to clipboard
alias sshkey="cat ~/.ssh/id_rsa.pub | pbcopy && echo 'Copied to clipboard.'"
alias copykey="cat ~/.ssh/id_rsa.pub | pbcopy && echo 'Copied to clipboard.'"
alias copyssh="cat ~/.ssh/id_rsa.pub | pbcopy && echo 'Copied to clipboard.'"

# Show/hide full path on finder titlebar
alias showpath="defaults write com.apple.finder _FXShowPosixPathInTitle -bool YES; killall Finder"
alias hidepath="defaults write com.apple.finder _FXShowPosixPathInTitle -bool NO; killall Finder"

# Show hidden Files in finder
alias showHidden='defaults write com.apple.finder AppleShowAllFiles TRUE; killall Finder'
alias hideHidden='defaults write com.apple.finder AppleShowAllFiles FALSE; killall Finder'

# Hide/show desktop icons
alias hidedesktop="defaults write com.apple.finder CreateDesktop -bool false && killall Finder"
alias showdesktop="defaults write com.apple.finder CreateDesktop -bool true && killall Finder"

# Delete all .DS_Store files recursively
alias deleteDS="find . -name '*.DS_Store' -type f -ls -delete"
alias removeDS="find . -name '*.DS_Store' -type f -ls -delete"

alias logs="tail -f $(pwd)/storage/logs/laravel.log | awk '\
    {matched=0}\
    /INFO:/    {matched=1; print \"\\033[0;37m\" \$0 \"\\033[0m\"}\
    /WARNING:/ {matched=1; print \"\\033[0;34m\" \$0 \"\\033[0m\"}\
    /ERROR:/   {matched=1; print \"\\033[0;31m\" \$0 \"\\033[0m\"}\
    /Next/     {matched=1; print \"\\033[0;31m\" \$0 \"\\033[0m\"}\
    /ALERT:/   {matched=1; print \"\\033[0;35m\" \$0 \"\\033[0m\"}\
    /Stack trace:/ {matched=1; print \"\\033[0;35m\" \$0 \"\\033[0m\"}\
    matched==0            {print \"\\033[0;33m\" \$0 \"\\033[0m\"}'"
