# Easier navigation
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias sites="cd ~/Sites"

# List files pretty format and colors
alias ls='ls -FHG'
alias la='ls -A'
alias ll='ls -alF'
alias l='ls -CF'
alias history='fc -l 1'

# List only directories
alias lsd='ls -l | grep "^d"'

# Show/hide full path on finder titlebar
alias showpath="defaults write com.apple.finder _FXShowPosixPathInTitle -bool YES; killall Finder"
alias hidepath="defaults write com.apple.finder _FXShowPosixPathInTitle -bool NO; killall Finder"

# preview a file using QuickLook
alias ql="qlmanage -p 2>/dev/null"

# File size
alias fs="stat -f \"%z bytes\""


# ------------------------------------------------------------------------------
# | Miscellaneous                                                              |
# ------------------------------------------------------------------------------

# Super user
alias _='sudo'
alias please='sudo'
alias fucking='sudo'

# Create new aliases
alias newalias="subl ~/.aliases"
alias zshconfig="subl ~/.zshrc"

# JavaScriptCore REPL
jscbin="/System/Library/Frameworks/JavaScriptCore.framework/Versions/A/Resources/jsc";
[ -e "${jscbin}" ] && alias jsc="${jscbin}";
unset jscbin;

# Pretty print the path
alias path='echo $PATH | tr -s ":" "\n"'

# Open Applications
alias vi='vim'
alias svi='sudo vim'
alias sublime="subl"
alias chrome="open -a '/Applications/Google Chrome.app'"
alias storm="open -a '/Applications/PhpStorm.app'"
alias xcode="open -a '/Applications/Xcode.app'"
alias calendar="open -a '/Applications/Calendar.app'"
alias spotify="open -a '/Applications/Spotify.app'"

# IP addresses
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="ipconfig getifaddr en0"

# Server connection shortcuts
alias tangentlabs='ssh -p 443 root@162.249.126.18 -D 8080'
alias tangent='ssh forge@104.131.204.218 -D 8080'
alias intonate='ssh root@intonate.org -D 8080'
alias soluciones='ssh forge@solucionesdigital.com -D 8080'
alias boom='ssh forge@boombuilders.mx'
alias cobranza='ssh ubuntu@ec2-54-148-116-34.us-west-2.compute.amazonaws.com -i ~/.ssh/boombuilders-cobranza.pem'

# AWS - BoomBuilders
# alias boombuilders='ssh -i ~/.ssh/pem/laravel-forge.pem ubuntu@54.149.90.110'
alias awseticket='ssh forge@54.149.90.110'


# ------------------------------------------------------------------------------
# | PHP Web Development                                                        |
# ------------------------------------------------------------------------------

alias phptxt="subl /Users/scrub/Documents/php.txt"
alias clearphptxt="echo '' > /Users/scrub/Documents/php.txt"

#alias vm="ssh -p 2222 vagrant@127.0.0.1"
alias vm="homestead ssh"

# laravel artisan shortcuts
alias art="php artisan"
alias mig="php artisan migrate"
alias m:migration="php artisan make:migration"
alias m:controller="php artisan make:controller"


# ------------------------------------------------------------------------------
# | OS X Specific aliases                                                      |
# ------------------------------------------------------------------------------

alias startmysql="sudo /usr/local/mysql/support-files/mysql.server start"
alias mysqlstart="sudo /usr/local/mysql/support-files/mysql.server start"

# Create new virtual host
alias vhost="subl /private/etc/apache2/extra/httpd-vhosts.conf; subl /etc/hosts"

# Show hidden Files in finder
alias showHidden='defaults write com.apple.finder AppleShowAllFiles TRUE; killall Finder'
alias hideHidden='defaults write com.apple.finder AppleShowAllFiles FALSE; killall Finder'

# Delete all .DS_Store files recursively
alias deleteDS="find . -name '*.DS_Store' -type f -ls -delete"
alias removeDS="find . -name '*.DS_Store' -type f -ls -delete"

# Hide/show desktop icons
alias hidedesktop="defaults write com.apple.finder CreateDesktop -bool false && killall Finder"
alias showdesktop="defaults write com.apple.finder CreateDesktop -bool true && killall Finder"
