# Custom helper functions
# Author: Jorge González

# Create a new file change permissions and open in Sublime Text
function create(){
    touch $1; chmod 775 $1; subl $1
}

# Create new directory and cd into it
function mkd(){
    mkdir -p "$@" && eval cd "\"\$$#\"";
}

# Filter processes with keyword
function showps () {
    ps -A | grep -v 'grep' | grep -i "$@"
}

# Get colors in manual pages
man() {
    env \
    LESS_TERMCAP_mb=$(printf "\e[1;31m") \
    LESS_TERMCAP_md=$(printf "\e[1;31m") \
    LESS_TERMCAP_me=$(printf "\e[0m") \
    LESS_TERMCAP_se=$(printf "\e[0m") \
    LESS_TERMCAP_so=$(printf "\e[1;44;33m") \
    LESS_TERMCAP_ue=$(printf "\e[0m") \
    LESS_TERMCAP_us=$(printf "\e[1;32m") \
    man "$@"
}
