[user]
    name = Jorge González
    email = scrub.mx@gmail.com
[github]
    user = scrubmx
[core]
    editor = subl --wait
    pager = /usr/local/git/contrib/diff-highlight/diff-highlight | less --chop-long-lines
    excludesfile = ~/.gitignore_global
[commit]
    template = ~/.gitmessage
[alias]
    c = commit -v
    br = branch
    co = checkout
    st = status
    dt = difftool
    la = "!git config -l | grep alias | cut -c 7-"
    lol = log --graph --pretty=format:'%C(blue)%h%C(auto)%d %C(green)(%cr) %C(dim white)by %C(reset)%C(cyan)%an %C(white)%s %C(reset)'
    wc = git whatchanged -p --abbrev-commit --pretty=medium
    dlc = diff --cached HEAD^
    append = commit --amend --no-edit
    branches = branch -vv
    remotes = remote -v
    changed = diff-tree --no-commit-id --name-only -r
    conflicts = diff --diff-filter=U
    unstage = reset HEAD --
    ours = "!f() { git checkout --ours $@ && git add $@; }; f"
    theirs = "!f() { git checkout --theirs $@ && git add $@; }; f"
    filelog = log --graph --decorate --stat --pretty=short --abbrev-commit
    latest = for-each-ref --sort=-committerdate --format='%(committerdate:short) %(refname:short) [%(committername)]'
[color]
    ui = true
    status = auto
    branch = auto
    diff = auto
    showbranch = auto
    interactive = auto
    sh = auto
[color "sh"]
    branch = yellow reverse
    workdir = blue bold
    dirty = red
[color "diff"]
    meta = magenta bold
    frag = blue bold
    whitespace = black reverse
[color "status"]
    added = green
    deleted = red
    changed = yellow
    untracked = cyan
    branch = blue bold
[push]
    default = tracking
[diff]
    tool = kaleidoscope
[difftool]
    prompt = false
[difftool "kaleidoscope"]
    cmd = /Applications/Kaleidoscope.app/Contents/Resources/bin/ksdiff --wait "$LOCAL" "$REMOTE"
[filter "media"]
    required = true
    clean = git media clean %f
    smudge = git media smudge %f
[filter "hawser"]
    clean = git hawser clean %f
    smudge = git hawser smudge %f
    required = true
[filter "lfs"]
    clean = git lfs clean %f
    smudge = git lfs smudge %f
    required = true
